.dice h1 {
  padding: 10px;
  border: solid;
  display: inline-block;
  background-color: rgba(165, 42, 42, 0.714);
  margin: 20px
}

.dice p {
  padding: 10px;
  font-size: 1.2em;
  border: solid;
  display: inline-block;
  background-color: rgba(165, 42, 42, 0.714);
  margin: 20px
}

.dice button {
  padding: 10px;
  font-size: 1.2em;
  border: solid;
  display: inline-block;
  background-color: rgba(165, 42, 42, 0.714);
  margin: 5px
}