.dice h1 {
  padding: 10px;
  border: solid;
  display: inline-block;
  background-color: lightgreen;
}

.dice p {
  padding: 10px;
  font-size: 1.2em;
  border: solid;
  display: inline-block;
  background-color: orange;
}